@media screen and (max-width: 767px) {
  /* line 2, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
  body {
    font-size: 0.9em;
  }
}
/* sm */
@media screen and (min-width: 768px) {
  /* line 9, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
  body {
    font-size: 1em;
  }
}
/* md */
@media screen and (min-width: 992px) {
  /* line 16, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
  body {
    font-size: 1.2em;
  }
}
/* lg */
@media screen and (min-width: 1200px) {
  /* line 23, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
  body {
    font-size: 1.3em;
  }
}
/* line 28, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.container {
  height: 30px;
}

/* line 32, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.nav.navbar-nav.navbar-right {
  height: 40px;
  width: 100%;
  margin-bottom: 0px;
  background-color: #0099cc;
  padding-top: 10px;
  padding-bottom: 13px;
}

/* line 41, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
li.logo {
  margin-bottom: 15px;
  padding-bottom: 10px;
  margin-left: 6px;
}

/* line 47, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
nav a {
  style: "Helvetica Neue";
  font-weight: 500;
  text-decoration: none;
  margin-left: 10px;
  color: white;
  margin-bottom: 5px;
  size: 24px;
  letter-spacing: 1px;
  padding: 5px;
  font-size: 2.90vw;
}

/* line 60, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
li {
  float: right;
  display: inline;
}

/* line 66, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
li {
  display: inline;
  margin: 5px;
}
/* line 69, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
li a {
  text-decoration: none;
  font-family: "Helvetica Neue";
  font-size: 1.2vw;
  list-style: none;
}

/* line 77, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
a.drpbtn {
  color: transparent;
  margin: 0px;
  padding: 0px;
}

/* line 82, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* line 86, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* line 93, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

/* line 100, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* line 102, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 106, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.dropdown:hover .dropbtn {
  background-color: #0099cc;
}

/* footer */
/* line 113, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
footer {
  margin-top: 40px;
  padding-top: 20px;
  color: #777;
  text-align: center;
  font-size: 1.00vw;
  width: 100%;
}

/* line 122, /home/ubuntu/workspace/SisterWebLogIn.1/app/assets/stylesheets/custom.css.scss */
.container {
  top: 600px;
}
