
.container{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: -20%;
    margin-bottom: 20px;
    width: 50%;
}

.col-md-8{
    display:inline-block;
    margin-left: 15px;
    background-color: white;
 p{
        display:inline;
        font-family: "Helvetica Neue";
        font-size: 1.1vw;
        font-weight: 500;
        margin-left: 10px;
        padding-left: 10px;
    }
}

.col-md-4{
    width: 15%;
    float: right;
    display:block;
    padding: 10px 0;
a{
        float:right;
        display:inline-block;
        text-decoration:none;
        margin: 10px;
        padding-left: 10px;
        padding-right: 6px;
        font-family: "Helvetica Neue";
        font-size: 1.0vw;
        color: #00ace6;
        font-weight: 500;
        padding: 5px;
        background-color: white;
    }
}

table#comments{
    padding-top: 10px;
    position: relative;
    display:block;
    background-color: white;
    width: 80%;
    padding: 10px 0;
    padding-left: 10px;
    margin-right: 10px;
}

tbody{
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
tr{
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 0px;
    height: 40px;
    vertical-align: text-top;
}

td{
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    padding-left: 0px;
    font-family: "Helvetica Neue";
    font-size: 1.40vw; 
a{
    text-decoration: none;
    padding-left: 0px;
    font-family: "Helvetica Neue";
    font-size: 1.40vw; 
    color: #00ace6;
}
}

th{
    text-align:center;
    font-family: "Helvetica Neue";
    font-size: 1.50vw;
    color: #66666;
    font-weight: 500;
    overflow: auto;
    padding: 5px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}