.row {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    display: table;
    font-style: regular;
    color: black;      
}


.col-lg-4 {
    size: 15px;
    display: table-cell;
    color: black;  
}