table#users{
     margin-top: 20px;
     width: 66.666%;
     margin-left: 10px;
}

thead{
    float: left;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
}

th{
    font-family: "Helvetica Neue";
    font-size: 3.0vw;
    color: #333;
    font-weight: 315;
}

td {
    overflow: auto;
    padding: 10px 0;
    border: 3px solid #737373;
}
a{
    font-family: "Helvetica Neue";
    size: 2.0vw; 
    margin-left: 10px;
    text-decoration: none;
    color: #737373;
}

