
body{
   font-family: "Helvetica Neue"; 
    padding-bottom: 70px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}


h1{
  color: black;
  font-family: "Helvetica";
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 2.25vw;
   text-align:center;
}

.row{
   box-sizing: border-box;
   border: 3px solid white;
   width: 20%;
   border-style: solid;
   padding-right: 0px;
   padding-left: 0px;
   margin-right: auto;
   margin-left: auto;
   padding-bottom: 40px;
}

.col-md-6 .col-md-offset-3{
    width: 120px;
    margin: 0 auto;
}

form{
    width: 120px;
    margin: 0 auto;
}

label{
    padding-top: 5px;
    font-family: "Helvetica";
    font-size: 1.50vw;
    font-weight: 302;
    width: 125px;
    margin: 0 auto;
    letter-spacing: 1px;
}

p.new{
    width: 127px;
    margin: 0 auto;
    padding-left: 2px;
    padding-top: 5px;
    
}

input.form-control{
    padding-top:5px;
    height: 17px;
    background-color: none;
}


input.btn.btn-primary{
    color: white ;
    background-color: #ffab00;
    border-color: #ffab00;
    padding: 3px 5px;
    font-size: 12px;
    text-decoration: none;
    line-height: .75;
    border-radius: .2rem;
    margin-top: 7px;
}

a{
    color: #00ace6;
    text-decoration: none;
}