/*Homepage
*/

.jumbotron:before {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   position: relative;
    height: 650px;
    width: 100%;
    background-image: url('design1.jpg');
    -webkit-filter: opacity(15%);
    z-index: -1;
    background-repeat:no-repeat;
    display: compact;
    content: "";
    display:block;
}

.jumbotron .container-jumbotron {
  width: 75%;
  height: 20%;
  margin: auto;
  position: absolute;
  top: 50px; left: 0; bottom: 0; right: 0;
}



.container-jumbotron h1 {
   display:block;
   margin: auto;
   color: #4d4d4d;
   font-size: 3.7vw;
   letter-spacing: .75px;
   font-weight: 500;
}

 h2{
    color: black;
    font-family: "Helvetica Neue";
    font-size: 2.0vw;
    font-weight: 400;
    padding: 0px;     
}


.row-jumbotron {
    margin-top: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:table;
    font-style: regular;
    color: black;      
}

.col-lg-4 {
    display:table-cell;
    width: 270px;
}

a.btn.btn-primary.btn-lg{
    color: white ;
    background-color: #ffab00;
    border-color: #ffab00;
    padding: 8px 18px;
    font-size: 21px;
    text-decoration: none;
    line-height: 1.333333;
    border-radius: .3rem;
    display: inline-block; 
    margin-top: 40px;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
h2{
    font-family: "Helvetic Neue";
    color: #666666; 
}


*/About/

.site-wrapper{
    margin-top: 20px;
}

.cover-container{
    margin-top: 100px;
    size: 60%;
    margin-left: auto;
    margin-left: auto;
    margin-bottom: 100px;
}


h4.masthead-brand {
    display:block;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 1.6vw;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

h1.inner-cover {
    width: 50%;
    margin-left: auto;
    margin-left: auto;
    
}

p.lead {
    font-family: "Helvetica Neue";
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.3vw;
    font-weight: 350;
    text-decoration: none;
    text-align: justify;
    color: #333333;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

