!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'custom', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'custom', "data-turbolinks-track" => true 
    = csrf_meta_tags

%footer.footer

  

.copyright  
  %p Copyright 2016 © SisterWeb. All rights reserved | Privacy Policy 
  %p Design By SisterWeb.com
    