.masthead
      .logo-container
      %img.img-logo{:alt => "Logo", :height => "70", :src => asset_path("spiral.png"),
          :width => "70", :style => "float:left"}/
      %logout= link_to "LogOut", '/logout'

.container
      %h3= link_to "SisterWeb", '/staticpages/home'